
a {
  color:white !important;
}
.card-body {
  background-color:#F2F2F5 !important;
}
#black-link {
  color: #2F353F !important;
  border: 1px solid #ccc;
  padding:10px 16px;
  margin-right: 12px;
  margin-top: 30px;
}
#mrgn {
  margin-top:30px;
}
.col-md-6 img {
  margin-top:10px;
}
#black-link:hover {
  background-color:coral;
  color:white !important;
  text-decoration: none;
  transition: 0.2s;
}
.carousel-item {
  position: relative;
}
.center {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
}
.container p {
  margin-top:-20px;
  margin-bottom: 50px;
}
.container h2 {
  text-align: center;
}

.container hr {
  width: 600px;
  margin-top:-2px;
  padding-bottom: 40px;
}
.main-heading {
  padding:10px;
  margin-top: 8%;
}
#text {
  color: black !important;
}
.card-body {
height: 230px;
  text-align: center;
}
.card-body h5 {
  margin-top:10px;
  margin-bottom: 30px;
}

.center-txt {
  position: absolute;
  top: 24%;
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  color:white;
  margin-top: 30px;
}
.cnt {
  text-align: center;
  color: white;
}
.center p {
  text-align: justify;
}
span {
  color:coral;
}
.navbar-toggler-icon {
  color:coral;
}
.navbar-brand {
  margin-left:30px;
}
ul {
  margin-right: 4%;
}
li a:hover {
  color:coral !important;
}
.bg-color {
  background-color: #2A343C;
}
.mrgn-top {
  margin-top: 10px;
}
#cnt {
  text-align: center;
  color:white;
  padding:30px;
  background-color: #2F353F;
}
#gt p {
  margin-bottom: 10px;
}
#gt {
  font-size: 1.2rem;
  color: coral;
  text-align: center;
  display: inline-block;
  border-left: 2px solid white;
  border-spacing: 10px;
  width: 260px;

}

/*  */
/*  */

@media(max-width:709px) {
  .center-txt {
    margin-top:80px;
    font-size: 16px;
    padding:10px;
  }
  .center {
    text-align: left;
    position: absolute;
    left:10%;
  }

}
@media(max-width:768px){
  .col-md-6 img{
    display: none;
  }

}
